:root {
  --color-orange: #DE7A00;

  --color-gray: #E6EAED;
  --color-light-gray: #F0F3F5;

  --color-white: #FFFFFF;
  --color-black: #000000;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #006DB5;
}

/* -----------------------------------
COMPOSITION
----------------------------------- */


/* -----------------------------------
UTILITY
----------------------------------- */
/* layouts */
.w-full {
  width: 100%;
}

.max-w-1040px {
  max-width: 1040px;
}

/* margins */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* outlines */
.outline {
  outline-width: 1px;
  outline-color: #bbbbbb;
}

.outline-dashed {
  outline-style: dashed;
}

/* backgrounds */
.bg-white {
  background-color: var(--color-white);
}

.bg-gray {
  background-color: var(--color-gray);
}


/* -----------------------------------
BLOCK
----------------------------------- */
.button {
  display: inline-block;
  min-width: max-content;
  border: 1px solid #D9DCDE;
  border-radius: 4px;
  padding: 13px 13px 11px 13px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.cta-button {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

.cta-button:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* header */
header {
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 16.5px;
}

header .logo .caption {
  font-size: 9px;
  line-height: 150%;
}

header .right {
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 11px;
}

header .right .group-1 {
  display: flex;
  align-items: center;
  gap: 14.54px;
}

header .right .group-1 .caption {
  font-size: 13px;
  text-align: right;
}

header .right .group-2 {
  display: flex;
  gap: 15px;
}

header .right .group-2 .cta-button {
  width: 180px;
}

/* main */
main section {
  margin-inline: auto;
}

/* footer */
footer {
  width: 100%;
}

footer .container-1 .group-1 {
  padding-top: 56px;
  padding-bottom: 64px;
}

footer .container-1 .group-1 .top-page-link {
  font-weight: 700;
}

footer .container-1 .group-1 .tabbed-menu {
  margin-top: 28px;
  margin-bottom: 40px;
}

footer .container-1 .group-1 .cta-buttons {
  text-align: center;
}

footer .container-1 .group-1 .cta-buttons .button {
  width: 230px;
  padding: 15px 0;
  font-size: 14px;
}

footer .container-1 .group-2 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 27px;
  padding-bottom: 28px;
  text-align: center;
}

footer .container-1 .group-2 p {
  margin: 7px;
}

footer .container-1 .group-2 p>a+a {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

footer .container-1 .group-2 p a {
  font-size: 14px;
  padding-inline: 20px;
  line-height: 24.5px;
  word-break: keep-all;
}

footer .container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 36px;
}

footer .container-2 .group-1 {
  text-align: center;
}

footer .container-2 .group-1>img+img {
  margin-left: 44px;
}

footer .container-2 .group-1 p {
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
}

footer .container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-gr-main);
  color: var(--color-white);
  padding-top: 32px;
  padding-bottom: 11px;
}

footer .container-3 p {
  font-size: 24px;
  line-height: 150%;
  margin-top: 0;
}

footer .container-3 .copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  opacity: 0.8;
}


/* -----------------------------------
EXCEPTION
----------------------------------- */