:root {
  --color-orange: #DE7A00;

  --color-gray: #E6EAED;
  --color-light-gray: #F0F3F5;

  --color-gr-main: linear-gradient(90deg, #0070BA 0%, #00A68D 100%, #00A68D 100%);

  --color-text-link: #006DB5;

  --color-white: #FFFFFF;
  --color-black: #000000;
}

html {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 175%;
  color: #333333;
}

a {
  text-decoration: none;
  color: #006DB5;
}

/* -----------------------------------
COMPOSITION
----------------------------------- */


/* -----------------------------------
UTILITY
----------------------------------- */
/* layouts */
.w-full {
  width: 100%;
}

.max-w-1040px {
  max-width: 1040px;
}

/* margins */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-15px {
  margin-inline: 15px;
}

/* outlines */
.outline {
  outline-width: 1px;
  outline-color: #bbbbbb;
}

.outline-dashed {
  outline-style: dashed;
}

/* backgrounds */
.bg-white {
  background-color: var(--color-white);
}

.bg-gray {
  background-color: var(--color-gray);
}


/* -----------------------------------
BLOCK
----------------------------------- */
.button {
  display: inline-block;
  min-width: max-content;
  border: 1px solid #D9DCDE;
  border-radius: 4px;
  padding: 13px 13px 11px 13px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.cta-button {
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

.cta-button:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 16.5px;
  margin-left: 14px;
}

header .logo .caption {
  font-size: 9px;
  line-height: 1.75;
}

header .right {
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 11px;
}

header .right .group-1 {
  display: flex;
  align-items: center;
  gap: 14.54px;
}

header .right .group-1 .caption {
  font-size: 13px;
  text-align: right;
}

header .right .group-2 {
  display: flex;
  gap: 15px;
}

header .right .group-2 .cta-button {
  width: 180px;
}

header .header-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  justify-content: center;
  cursor: pointer;
  background: var(--color-gr-main);
  font-size: 9px;
  border: none;
  min-width: 54px;
  aspect-ratio: 1;
  color: var(--color-white);
}

header .header-menu-button .icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 22px;
}

header .header-menu-button .icon > span {
  display: block;
  height: 2px;
  background-color: var(--color-white);
}

header .header-menu-button .label {
  display: inline-block;
}

/* main */
main section {
  margin-left: auto;
  margin-right: auto;
}

/* footer */
footer {
  width: 100%;
}

footer .container-1 .group-1 {
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

footer .container-1 .group-1 .top-page-link {
  font-weight: 700;
}

footer .container-1 .group-1 .accordion {
  margin-top: 28px;
}

footer .container-1 .group-1 .accordion > .item + .item {
  margin-top: 10px;
}

footer .container-1 .group-1 .accordion .item {
  /* padding: 17px 20px 16px; */
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-white);
  border-radius: 4px;
}

footer .container-1 .group-1 .accordion .item:not(.active):hover {
  cursor: pointer;
  background-color: #ffffffb8;
}

footer .container-1 .group-1 .accordion .item .title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-text-link);
  padding: 27px 0 0 0;
}

footer .container-1 .group-1 .accordion .item.active .title {
  color: unset;
  cursor: default;
}

footer .container-1 .group-1 .accordion .item:not(.active) .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0 16px;
}

footer .container-1 .group-1 .accordion .item:not(.active) .title::after {
  content: '';
  display: inline-block;
  background-image: url(/images/footer-accordion-caret-icon.svg);
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
}

footer .container-1 .group-1 .accordion .item .content {
  margin-top: 26px;
  display: none;
  padding-bottom: 16px;
}

footer .container-1 .group-1 .accordion .item.active .content {
  display: block;
}

#acc-item-content--service {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#acc-item-content--service .group {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 100%;
  /* outline: 1px dashed gray; */
}

#acc-item-content--service .group .label {
  margin: 0;
  padding: 18px 15px 17px;
  background-color: var(--color-light-gray);
  color: var(--color-black);
  font-weight: 700;
}

#acc-item-content--service .group ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#acc-item-content--service .group ul li {
  padding: 15px;
}

#acc-item-content--service .group ul > li + li {
  border-top: 1px solid var(--color-light-gray);
}


footer .container-1 .group-1 .tab-content {
  display: none;
  margin-top: 3px;
  padding: 37px 40px;
  border-radius: 4px;
  background-color: var(--color-white);
}

footer .container-1 .group-1 .cta-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

footer .container-1 .group-1 .cta-buttons .button {
  width: 230px;
  padding: 15px 0;
  font-size: 14px;
}

footer .container-1 .group-2 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 27px;
  padding-bottom: 28px;
  text-align: center;
}

footer .container-1 .group-2 p {
  margin: 7px;
}

footer .container-1 .group-2 p>a+a {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

footer .container-1 .group-2 p a {
  font-size: 14px;
  padding-inline: 20px;
  line-height: 24.5px;
  word-break: keep-all;
}

footer .container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 36px;
}

footer .container-2 .group-1 {
  text-align: center;
}

footer .container-2 .group-1>img+img {
  margin-left: 44px;
}

footer .container-2 .group-1 p {
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
}

footer .container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-gr-main);
  color: var(--color-white);
  padding-top: 32px;
  padding-bottom: 11px;
}

footer .container-3 p {
  font-size: 24px;
  line-height: 150%;
  margin-top: 0;
}

footer .container-3 .copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  opacity: 0.8;
}


/* -----------------------------------
EXCEPTION
----------------------------------- */