/*
NOTE:
As a guide, all styles within this scope are applied to devices with
screens as wide as 768 pixels and above.
----------------------------------------------------------- */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  /* COMPOSITION
  ------------------------------------------*/
  .row {
    column-gap: 40px;
    row-gap: 40px;
  }

  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .cols-4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  /* UTILITY
  ------------------------------------------*/

  /* BLOCKS
  ------------------------------------------*/

  /* header */
  .header {
    padding: 15px 24px 16px 32px;
    height: auto;
  }

  .header .logo {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .header .logo img {
    width: 195.24px;
    height: 34px;
  }

  .header .logo .caption {
    font-size: 14px;
  }

  .header .right {
    display: flex;
  }

  /* alert */
  .alert .content {
    font-size: 14px;
  }

  /* menu */
  .menu {
    display: block;
  }

  /* menu button */
  .menu-button {
    display: none;
  }

  /* breadcrumbs */
  .breadcrumbs {
    font-size: 12px;
  }

  /* page title */
  .page-title {
    padding: 72px 30px;
    margin-bottom: 64px;
  }

  .page-title .text {
    font-size: 34px;
  }

  /* page title with subtitle */
  .page-title-sub {
    margin-bottom: 42px;
  }

  .page-title-sub .title {
    font-size: 28px;
  }

  .page-title-sub .subtitle {
    font-size: 18px;
    margin: 9px 0 0;
  }

  /* lead text */
  .lead-text {
    font-size: 18px;
  }

  /* heading 2 */
  .heading-2 {
    font-size: 28px;
    margin-block: 72px 26px;
  }

  .heading-2::before {
    margin-right: 16px;
  }

  /* heading 3 */
  .heading-3 {
    font-size: 24px;
    margin-block: 37px 26px;
  }

  .heading-3::after {
    margin-top: 10px;
  }

  /* heading 4 */
  .heading-4 {
    font-size: 20px;
    margin-block: 33px 18px;
  }

  .heading-4::before {
    margin-right: 14px;
  }

  /* heading 5 */
  .heading-5 {
    font-size: 18px;
    margin-block: 22px 14px;
  }

  /* heading 6 */
  .heading-6 {
    font-size: 16px;
    line-height: 1.75;
    margin-block: 20px 4px;
  }

  /* annotation */
  .annotation {
    font-size: 14px;
  }

  /* text link */
  .text-link {
    font-size: 16px;
    line-height: 1.5;
  }

  /* card */
  .card .image {
    width: 100%;
    height: auto;
    max-height: 240px;
    object-fit: cover;
  }

  .card .image.small {
    width: 100%;
    height: auto;
    max-height: 144px;
    object-fit: cover;
  }

  .card.to-right,
  .card.to-left {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
  }

  .card.to-right>.image,
  .card.to-left>.image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .card.to-right>p,
  .card.to-left>p {
    width: 520px;
    margin: 0;
  }

  .card.to-right>.image {
    order: 1;
  }

  .card.to-right>p {
    order: 2;
  }

  .card.to-left>.image {
    order: 2;
  }

  .card.to-left>p {
    order: 1;
  }

  /* link button */
  .link-button {
    width: 100%;
    max-width: 320px;
  }

  /* one column table */
  .horizontal-table .cell {
    padding: 14px 16px;
  }

  .horizontal-table .table-heading {
    width: 192px;
  }

  /* two dimensional table */
  .two-dimensional-table tbody .table-heading {
    width: 192px;
  }

  .two-dimensional-table .cell {
    padding: 14px 16px;
  }

  /* highlight */
  .highlight {
    padding: 26px 32px;
  }

  .highlight .title {
    font-size: 20px;
    margin: 0 0 13px;
  }

  /* form - field block */
  .field-block.half {
    max-width: calc(50% - 10px);
  }

  .field-block.long {
    max-width: 70%;
    min-width: 0;
  }

  .field-block.short {
    max-width: 183px;
  }

  /* form - field label */
  .field-block .field-annotation {
    font-weight: 700;
    font-size: 14px;
  }

  /* form - radio field */
  .radio-option .radio-input {
    transform: translateY(6.5px);
  }

  .radio-option .radio-label {
    font-size: 14px;
    line-height: 2;
  }

  /* form - checkbox field */
  .checkbox-option .checkbox-input {
    transform: translateY(6.5px);
  }

  .checkbox-option .checkbox-label {
    font-size: 14px;
    line-height: 2;
  }

  /* form - submit button */
  .submit-button {
    width: 100%;
    max-width: 320px;
  }

  .submit-button.left {
    align-self: flex-start;
  }

  .submit-button.center {
    align-self: center;
  }

  .submit-button.right {
    align-self: flex-end;
  }

  /* footer */
  .footer .container-1 .group-1 .accordion {
    position: relative;
    display: flex;
    gap: 3px;
  }

  .footer .container-1 .group-1 .accordion .item {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 16px;
  }

  .footer .container-1 .group-1 .accordion .item:not(.active):hover {
    background-color: #ffffffb7;
    cursor: pointer;
  }

  .footer .container-1 .group-1 .accordion>.item+.item {
    margin: 0;
  }

  .footer .container-1 .group-1 .accordion .item .title {
    text-align: center;
    padding: 0;
  }

  .footer .container-1 .group-1 .accordion .item:not(.active) .title {
    padding: 0;
    justify-content: center;
  }

  .footer .container-1 .group-1 .accordion .item:not(.active) .title::after {
    display: none;
  }

  .footer .container-1 .group-1 .accordion .item.active {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .footer .container-1 .group-1 .accordion .item.active::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: var(--color-white);
  }

  .footer .container-1 .group-1 .accordion .item.active .content {
    display: none;
  }

  .footer .container-1 .group-1 .tab-content.active {
    display: block;
  }

  #acc-item-content--service {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }

  #acc-item-content--service .group {
    font-size: 14px;
  }

  #acc-item-content--service .group .label {
    padding: 7px 10px 8px;
  }

  #acc-item-content--service .group ul {
    margin-top: 17px;
  }

  #acc-item-content--service .group ul li {
    padding: 0;
  }

  #acc-item-content--service .group ul>li+li {
    border: none;
    margin-top: 12px;
  }

  /* EXCEPTION
  ------------------------------------------*/
}