@media (min-width: 1024px) {
  /*------------------------------------------
  COMPOSITION
  ------------------------------------------*/

  /*------------------------------------------
  UTILITY
  ------------------------------------------*/

  /*------------------------------------------
  BLOCKS
  ------------------------------------------*/
  /* header */
  header {
    padding: 15px 24px 16px 32px;
  }

  header .logo {
    flex-wrap: wrap;
    margin-left: 0;
  }

  header .logo img {
    width: 195.24px;
    height: 34px;
  }

  header .logo .caption {
    font-size: 14px;
  }

  header .right {
    display: flex;
  }

  header .header-menu-button {
    display: none;
  }

  /*------------------------------------------
  EXCEPTION
  ------------------------------------------*/
}