/*
NOTE:
As a guide, all styles within this scope are applied to devices with
screens as wide as 768 pixels and above.
----------------------------------------------------------- */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  /* COMPOSITION
  ------------------------------------------*/

  /* UTILITY
  ------------------------------------------*/

  /* BLOCKS
  ------------------------------------------*/

  /* header */
  .header {
    padding: 15px 24px 16px 32px;
  }

  .header .logo {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .header .logo img {
    width: 195.24px;
    height: 34px;
  }

  .header .logo .caption {
    font-size: 14px;
  }

  .header .right {
    display: flex;
  }

  .header .header-menu-button {
    display: none;
  }

  /* footer */
  .footer .container-1 .group-1 .accordion {
    position: relative;
    display: flex;
    gap: 3px;
  }

  .footer .container-1 .group-1 .accordion .item {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 16px;
  }

  .footer .container-1 .group-1 .accordion .item:not(.active):hover {
    background-color: #ffffffb7;
    cursor: pointer;
  }

  .footer .container-1 .group-1 .accordion>.item+.item {
    margin: 0;
  }

  .footer .container-1 .group-1 .accordion .item .title {
    text-align: center;
    padding: 0;
  }

  .footer .container-1 .group-1 .accordion .item:not(.active) .title {
    padding: 0;
    justify-content: center;
  }

  .footer .container-1 .group-1 .accordion .item:not(.active) .title::after {
    display: none;
  }

  .footer .container-1 .group-1 .accordion .item.active {
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .footer .container-1 .group-1 .accordion .item.active::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: var(--color-white);
  }

  .footer .container-1 .group-1 .accordion .item.active .content {
    display: none;
  }

  .footer .container-1 .group-1 .tab-content.active {
    display: block;
  }

  #acc-item-content--service {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }

  #acc-item-content--service .group {
    font-size: 14px;
  }

  #acc-item-content--service .group .label {
    padding: 7px 10px 8px;
  }

  #acc-item-content--service .group ul {
    margin-top: 17px;
  }

  #acc-item-content--service .group ul li {
    padding: 0;
  }

  #acc-item-content--service .group ul>li+li {
    border: none;
    margin-top: 12px;
  }

  /* EXCEPTION
  ------------------------------------------*/
}